@model ASPNET_MVC_CRUD.Models.Veiculo

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editar</title>
</head>
<body>
    <h1>Edição de Veículo</h1>
    <div>
        <form action="/Home/Editar" method="post">
            <input type="hidden" name="VeiculoID" value="@Model.VeiculoID" />

            <label>Modelo</label>
            <input type="text" name="Modelo" value="@Model.Modelo" /><br />

            <label>Marca</label>
            <input type="text" name="Marca" value="@Model.Marca" /><br />

            <label>URL</label>
            <input type="text" name="UrlFoto" value="@Model.UrlFoto"/><br />

            <label>Financiado?</label>
            <input type="checkbox" name="Financiado" value="@Model.Financiado"/><br />

            <input type="submit" value="Alterar" />
        </form>
    </div>
</body>
</html>
